Class_001/ESAD_CS_R49_M_10_D001/WCF_Test_WithConsole/Connected Services/SchoolServiceDB/SchoolService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60015/SchoolService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_App.Models" />
  <xs:element name="ShowAllStudent">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowAllStudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_App.Models" minOccurs="0" name="ShowAllStudentResult" nillable="true" type="q1:ArrayOfStudent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stuId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stuName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stuAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStudentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stuId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stuName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stuAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertStudentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stuId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindStudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF_App.Models" minOccurs="0" name="FindStudentResult" nillable="true" type="q2:Student" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stuId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStudentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>